
.screenshot {
	border: 6px solid #EBEDF0;
	border-radius: 3px;
	display: block;
	height: 400px;
	margin: 35px 0 40px;
	width: 760px;
}

.screenshot.options { background: url(../../images/screenshots/options.jpg); }
.screenshot.formats { background: url(../../images/screenshots/formats.jpg); }
.screenshot.areas { background: url(../../images/screenshots/areas.jpg); }

/* RETINA */
@media all and (-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 192dpi) {
	.screenshot.options  {
		background-image: url(../../images/screenshots/options@2x.jpg);
		background-size: 760px 400px;
	}
	.screenshot.formats  {
		background-image: url(../../images/screenshots/formats@2x.jpg);
		background-size: 760px 400px;
	}	
	.screenshot.areas  {
		background-image: url(../../images/screenshots/areas@2x.jpg);
		background-size: 760px 400px;
	}			
}