{% extends '::admin.html.twig' %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-12">
            <h3><i class="fa fa-angle-right"></i> Pridėkite dokumentą</h3>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <form role="form" action="{{ path("say_and_do_analyzis_homepage.add") }}" method="post">
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" name="url" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Antraštė</label>
                    <input type="text" name="title" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Turinys</label>
                    <textarea class="form-control" name="content" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Pridėti</button>
            </form>
            <br>
            <br>
        </div>
    </div>
{% endblock %}
