{% extends '::admin.html.twig' %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-12">
            <h3><i class="fa fa-angle-right"></i> Dokumentai</h3>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Antraštė</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td><a href="{{ path("say_and_do_analyzis_homepage.view", {'id' : document.id}) }}">{{ document.title }}</a> </td>
                        <td>
                            <a class="btn btn-xs btn-danger"
                               href="{{ path("say_and_do_analyzis_homepage.remove", {'id' : document.id}) }}"><i class="fa glyphicon glyphicon-remove"> </i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
{% endblock %}
