{% extends '::base.html.twig' %}

{% block content %}

    <section class="section1">
        <div class="container clearfix">
            {% block inner_content %}{% endblock %}
        </div>
    </section>

{% endblock %}