{% extends '::fullwidth.html.twig' %}

{% block inner_content %}
    <section class="section2">
        <div class="message text-center">
            <h2 class="big-title">Lorem ipsum <span>dolor</span> sit amet</h2>

            <p class="small-title">consectetur adipisicing elit, <br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="button large" href="pricing-tables.html">UT ENIM AD</a>
            <a class="dmbutton large" href="contact.html">MINIM VEDIAM</a>
        </div>
    </section>
{% endblock %}
